<!-- Por ahora router outlet Queda siempre en app component-->
<nav>
  <button class="btn btn-outline-dark m-1" routerLink="bienvenida">
    Bienvenida
  </button>
  <button class="btn btn-outline-dark m-1" routerLink="login">Login</button>
  <button class="btn btn-outline-dark m-1" routerLink="error">Error</button>
  <button class="btn btn-outline-dark m-1" routerLink="opasdfpsadoiasdop">
    Otro error
  </button>
  <button class="btn btn-outline-dark m-1" routerLink="bindeos">Bindeos</button>
</nav>
<router-outlet />
<!--router-outlet: Salida de rutas -->

<!-- <app-bienvenida />
<app-bindeos></app-bindeos>
<app-bindeos></app-bindeos> -->

<h1>Abajo del router outlet</h1>
